* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Barlow', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.heading {
    color: #8a9499;
    text-align: center;
}

.heading h1 {
    font-weight: 100;
    font-size: 3rem;
}

.heading h1 span {
    color: #000;
    font-weight: 600;
}

.heading h2 {
    font-size: 2rem;
    font-weight: 100;
}

.cards {
    margin: 0 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.card {
    margin-top: 3rem;
    height: 26.5rem;
    width: 16.5rem;
    border: 1px solid #8a9499;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    overflow: hidden;
}

.icon {
    text-align: center;
    margin-top: 2rem;
}

.fa-user {
    color: #8a9499;
}

.package-name {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
}

.package-text {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1rem;
}

.package-price {
    text-align: center;
    margin: 3rem auto;
    font-size: 2rem;
    background-color: #edf1f2;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}

.card-button {
    text-align: center;
}

.card-button button {
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.button1 {
    margin-top: 1rem;
    border: none;
    background-color: transparent;
    color: #00aaff;
}

.fa-circle-arrow-right {
    color: #ff9f1a;
}

.personal {
    color: #ffaa00;
}

.button2-3-4 {
    padding: 1rem 3rem;
    border-radius: 10px;
    background-color: #3dcc3d;
    border: none;
    color: #fff;
    box-shadow: 0.1rem 0.3rem #bbedbb;
}

.star {
    color: #00aaff;
}

.best {
    width: 2rem;
    height: 8rem;
    background-color: #00aaff;
    position: absolute;
    top: -1.9rem;
    right: 1rem;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.best p {
    transform: rotate(90deg);
    margin-top: 3.5rem;
    margin-left: -1rem;
    font-size: 0.8rem;
    width: 4rem;
    color: #fff;
}

.month {
    text-align: center;
    margin-top: -2.7rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    color: #8a9499;
}

.people {
    color: #3d474d;
}

.middle-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin: 2rem;
}

.all-prices {
    color: #8a9499;
}

.middle-text a {
    color: #00aaff;
}

.lists {
    margin: -3rem 10rem 0 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.lists div {
    width: 16.5rem;
}

.list-heading {
    margin-top: 3rem;
    font-weight: 600;
}

ul {
    margin-top: 0.5rem;
    list-style: none;
}
  
ul li:before {
    content: '✓';
}

li {
    margin-top: 0.2rem;
}